table {
  width: 100%;
  .row {
    cursor: pointer;
    transition: all .1s ease-in-out;
    &:hover {
      background: #f1f1f1;
    }
  }
}

button {
  margin: 16px 8px;
}

td.mat-column-delete {
  width: 30px;
}


