<mat-card [formGroup]="dishForm" *ngIf="dishForm">
  <mat-card-header>
    <mat-card-title>
      <mat-form-field>
        <input matInput [formControl]="dishForm.controls['title']" type="text" placeholder="Наименование" required>
      </mat-form-field>
    </mat-card-title>
    <mat-card-subtitle>
      <mat-form-field>
        <input matInput [formControl]="dishForm.controls['description']" type="text" placeholder="Описание">
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let productForm of dishForm.controls['dishes'].controls">
      <mat-form-field class="field">
        <mat-select [formControl]="productForm.controls['product_id']" placeholder="Продукт">
          <mat-option *ngFor="let productAll of productsAll" [value]="productAll.id">{{ productAll.title }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput [formControl]="productForm.controls['amount']" type="number" placeholder="Количество">
      </mat-form-field>
    </div>
    <div class="control">
      <button mat-raised-button (click)="onAddProduct()">Добавить продукт</button>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button [disabled]="dishForm.invalid" (click)="onSave()">Сохранить</button>
    <button mat-raised-button (click)="onCancel()">Отмена</button>
  </mat-card-actions>
</mat-card>
