<mat-card>
  <mat-card-header>
    <mat-card-title>{{ dish.title }}</mat-card-title>
    <mat-card-subtitle>{{ dish.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [formGroup]="dishForm">
    <div *ngFor="let productForm of dishForm.controls">
      <mat-form-field class="field">
        <mat-select [formControl]="productForm.controls['product_id']" placeholder="Продукт">
          <mat-option *ngFor="let productAll of productsAll" [value]="productAll.id">{{ productAll.title }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput [formControl]="productForm.controls['amount']" type="number" placeholder="Количество">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="onSave()">Сохранить</button>
    <button mat-raised-button (click)="onCancel()">Отмена</button>
  </mat-card-actions>
  <mat-card-footer>
    Footer
  </mat-card-footer>
</mat-card>

{{ dishForm.value | json }}
