<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="example-icon">dvr</mat-icon>
    <span>Table Calculator</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <ul class="menu">
      <li *ngFor="let menuItem of menu" routerLinkActive="active" [routerLink]="menuItem.route">{{ menuItem.title }}</li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
