<button mat-raised-button routerLink="new"> Добавить </button>

<table mat-table [dataSource]="dishes$ | async" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column.colName" *ngFor="let column of columns">
    <th mat-header-cell *matHeaderCellDef> {{column.colTitle}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column.colName]}} </td>
  </ng-container>

  <ng-container matColumnDef="delete" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="deleteProduct(element, $event)">cancel</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colNames"></tr>
  <tr class="row" [routerLink]="row.dish_id" mat-row *matRowDef="let row; columns: colNames;"></tr>
</table>
